a {
  background-color: #f2f2f2;
  color: #4d4d4d;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  background-color: #4d4d4d;
  color: #f2f2f2;
}

.canvas {
  color: #424242;
  font-family: 'Spartan', sans-serif;
  font-size: 24px;
  padding: 60px;
}

.description {
  font-size: 18px;
  color: #6e6e6e;
  width: 95%;
}

.text-content {
  background-color: #f2f2f2;
  padding: 60px;
  height: 80%;
}